{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/elves.css">
    <link rel="stylesheet" href="../../assets/timeto/timeTo.css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid elves">
        <header class="jumbotron">

            <p class="text-center message">{% if gifts|length > 0 %}Vite, vite, vite ! Il vous reste encore {{ gifts|length }} jouet{% if gifts|length > 1 %}s{% endif %} à fabriquer !{% else %} Toutes les commandes sont prêtes !
                    <br/> Les rennes vont bientôt pouvoir décoller...{% endif %}</p>
        </header>

        <div class="row">
            {% for child in children %}
                <div class="col-xs-4">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapseOne">
                                    {{ child.firstname }} {{ child.name }}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse{{ loop.index }}" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingOne">
                            <div class="panel-body">
                                {% for gift in child.gifts %}
                                    <div class="row">
                                        <div class="col-xs-8">
                                            <p>{{ gift.name }}</p>
                                        </div>
                                        <div class="col-xs-4">
                                            <a href="{{ path('done', {'id': gift.id}) }}">
                                                {% if gift.done %}
                                                    <p class="done">Done</p>
                                                {% else %}
                                                    <p class="undone">Not done</p>
                                                {% endif %}
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}