{% extends 'base.html.twig' %}

{% block body %}
    <h1>La liste de cadeaux de {{ child.firstname }} pour le père noël</h1>

    <ol>
        {% for gift in child.gifts %}
            <li>{{ gift.name }}</li>
        {% endfor %}
    </ol>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div>
        {% if (child.gifts|length < 5) %}
            <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-plus"></span> Envoyer ma liste de
                cadeaux au père Noël
            </button>
        {% else %}
            <button class="btn btn-danger" disabled>
                <span class="glyphicon glyphicon-remove"></span> Tu ne peux pas ajouter plus de cinq cadeaux (sinon demande à tes parents !)
            </button>
        {% endif %}

        {% if (child.gifts|length < 1) %}
            <p class="btn btn-success pull-right" disabled>
                <span class="glyphicon glyphicon-gift"></span> Envoyer ma liste de cadeaux au père Noël"
            </p>
        {% else %}
            <a href="{{ path('success', {'id':child.id}) }}"
               class="btn btn-success pull-right">
                <span class="glyphicon glyphicon-gift"></span> Envoyer ma liste de cadeaux au père Noël"
            </a>
        {% endif %}

    </div>
    {{ form_end(form) }}

{% endblock %}