{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gifts list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Done</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gift in gifts %}
            <tr>
                <td><a href="{{ path('gift_show', { 'id': gift.id }) }}">{{ gift.id }}</a></td>
                <td>{{ gift.name }}</td>
                <td>{% if gift.done %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('gift_show', { 'id': gift.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('gift_edit', { 'id': gift.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('gift_new') }}">Create a new gift</a>
        </li>
    </ul>





{% endblock %}
