{% extends 'base.html.twig' %}


    {% block stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../assets/sandy.css">
        <link rel="stylesheet" href="../../assets/timeto/timeTo.css">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    {% endblock %}

{% block body %}
    <div class="container">
    <div class="row">
        {#<div class="col-sm-6 col-sm-offset-3">#}
            <div class="jumbotron text-center sandyClawsJumb">
                <h1 class="sandyjumtext">La magie de Noël n'attend pas!! </h1>
                <h2 class="slogan">Alors on se move le body les rennes, je paye pas votre avoine 364 jours pour rien!</h2>
            </div>
        {#</div>#}
    </div>

    <div class="row ">
        {#<div class="col-xs-6 col-xs-offset-3">#}
            <div class="panel panel-default sandyJumbCorpse">
                <div class="panel-heading sandyPanelHeading">
                    <h3 class="panel-title">En route Tornade, Danseur, Furie, Fringant, Comète, Cupidon,
                        Tonnerre, Éclair, Rudolphe!
                    </h3>
                    <p class="jumbPSandy"> Prochain arrêt :</p>
                </div>

                <div class="panel-body">

                    {% for child in children %}
                        {#{{ dump(child) }}#}
                        <ul class="list-group">
                            <li class="list-group-item"> Cap vers
                                l'adorable <strong>{{ child.firstname| title}} {{ child.name|title }} </strong>, au <strong>{{ child.address }} {{ child.zipcode }} {{ child.city|title }} {{ child.country|title }}</strong>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            {#</div>#}
        </div>
    </div>


        <div id="map"></div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../../assets/timeto/jquery.time-to.js"></script>
    <script src="../../assets/countDown.js"></script>
    <script>
        function initMap() {
            var children = document.querySelectorAll('.child-list');

            var pole = {lat: 85, lng: -12};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                center: pole
            });
            var marker = new google.maps.Marker({
                position: pole,
                map: map
            });

            for(var i=0; i<children.length ;i++) {
                var child = children[i];
                var child_lat = parseFloat(child.dataset.lat);
                var child_lng = parseFloat(child.dataset.lng);
                var childpos = {lat: child_lat, lng: child_lng};
                var marker = new google.maps.Marker({
                    position: childpos,
                    map: map
                });
            }

        }
    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDG4s2abvYvMRk93rr-ZyTkN7kNSrEhW9E&callback=initMap">
    </script>

{% endblock %}